.galleryImageItem {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border: solid 5px black;
    margin: 35px 35px;
}

.alignGallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin: 25px;
}