.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.header-MEMPD{
  font-size: 53px;
  font-weight: 700;
  color: #f2f2f2f2;
  padding-bottom: 35px;
  padding-top: 15px;
  text-align: center;
  background-color: rebeccapurple;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: fuchsia;
}

.nav-right {
  float: right;
}